{:kotoba.app/id "cloud.itonami.isic-0163", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreic6eumnr5sdq6ez2xuacydw752qqxlb63iiy3ip5dwyapppquj7gq", :kotoba.app/embed-url "ipfs://bafkreic6eumnr5sdq6ez2xuacydw752qqxlb63iiy3ip5dwyapppquj7gq", :published {:archive "https://kotobase.net/ipfs/bafkreic6eumnr5sdq6ez2xuacydw752qqxlb63iiy3ip5dwyapppquj7gq", :size 72632, :put-status 201, :get-status 200, :at "2026-08-15T13:47:27.894Z"}}
